.skill-content{
    width: 100%;
    height: 80vh;
    margin-bottom: 5vh;
    
}
.text{
    margin-top: 50px;
    font-size: 70px;
    width: 50px;
    margin-bottom: 30px;
}

.skills{
    font-family: 'Monument';
    font-size: 80px;
    color: #fcf0e8;
    text-shadow: -2px 0 #410807, 0 2px #410807, 2px 0 #410807, 0 -2px #410807;
}

.skills:hover{
    color: #ff7e5f;
}