.end-text{
    font-size: 80px;
    margin: 0px 200px 20px 250px;
}

.email{
    text-align: center;
    font-family: 'Monument';
    font-size: 70px;
    color: #ff7e5f;
    text-shadow: -2px 0 #410807, 0 2px #410807, 2px 0 #410807, 0 -2px #410807;
}
a{
    font-size: 70px;
    font-family: 'Monument';
    color: #fcf0e8;
    text-shadow: -2px 0 #410807, 0 2px #410807, 2px 0 #410807, 0 -2px #410807;
    text-decoration: none;
}
a:hover{
    color: #ff7e5f;
}
.contact_text{
    text-align: center;
}
fa-icon{
    justify-content: center;
    margin-right: 5px;
}