<div class = "header-content">

  <div id="navigation">
   
      <ul class="navbar_nav">
        <li class="nav_item">
            <a class="nav_link smooth_scroll" href="#about">About</a>
        </li>
        <li class="nav_item">
          <a class="nav_link smooth_scroll" href="#experiences">Experience</a>
        </li>
        <li class="nav_item">
          <a class="nav_link smooth_scroll" href="#skill">Skills</a>
        </li>
        <li class="nav_item">
          <a class="nav_link smooth_scroll" href="#contact">Contact</a>
        </li>
      </ul>
       <fa-icon [icon]="faCode" size="3x" [spin]="true"></fa-icon>
       <div class="portfoli-block" #animeObject>{{fullName}} | {{currentTitle}} | {{currentResident}}</div>
       <a 
        class="button-download"
        href="javascript:void(0)" 
        style="cursor:pointer"
        (click)="downloadPdf('./assets/data/ThaoHo_Resume.pdf','myResume')">
         My Resume PDF  <fa-icon [icon]="faArrowLeft" size="1x" ></fa-icon>
      </a>
  </div>
  
</div>